*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #ff6900;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    cursor: pointer;
    width: 120px;

}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0 3px;
}

.links a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.pulsanti a{
    color: white;
    padding: 0 2px;
}

/* Products section  */

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box-container .box{
    flex: 1 1 30rem;
    position: relative;
}